@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;700;900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
    display: block;
}

* {
    font-family: 'Outfit', sans-serif; /* Added fallback */
}

select, input, textarea {
    border: 1px solid #c2c2c2;
    outline-color: #C586A5;
    border-radius: 4px;
}

.prata-regular {
    font-family: 'Prata', serif;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}

/* For Firefox and other browsers (if needed) */
* {
    scrollbar-width: none; /* Hide scrollbar in Firefox */
}

@media (max-width: 640px) {
    a.active {
        background-color: black;
        color: white;
    }
}
